pipeline/pl_ingest_data_into_adls.json
{
	"name": "pl_ingest_data_into_adls",
	"properties": {
		"activities": [
			{
				"name": "Get config records",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_cfg",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter for sqldb records",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Filter for Enabled Recs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter for Enabled Recs').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().source, 'SQLDB')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter for non sqldb records",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Filter for Enabled Recs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter for Enabled Recs').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(equals(item().source, 'SQLDB'), false)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachSQLDBRecs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter for sqldb records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter for sqldb records').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CheckForIncrementalLoad",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().load_type, 'incremental')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data to ADLS",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "select @{item().source_cols_for_staging} \nfrom @{item().source_table}\nwhere \nconvert(datetime, @{item().watermark_col}, 101) > \nconvert(datetime, '@{item().watermark_val}', 120);",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_vm_sqlserver",
												"type": "DatasetReference",
												"parameters": {
													"table_name": "@{item().source_table}",
													"schema_name": "dbo"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_cfg",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Filter for Enabled Recs",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get config records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get config records').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().enabled, '1')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}