df-create-customer-trans-edw/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-create-customer-trans-edw"
		},
		"SqlServer_autoResolve_IR_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer_autoResolve_IR'"
		},
		"datalakestorage_stage_lined_service_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'datalakestorage_stage_lined_service'"
		},
		"sql_serv_on_vm_linked_service_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sql_serv_on_vm_linked_service'"
		},
		"ls_cat_subcat_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_cat_subcat'"
		},
		"datalakestorage_stage_lined_service_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stogareacctdp203.dfs.core.windows.net/"
		},
		"ls_cat_subcat_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\WINDOWS-04S6H81\\Users\\NadikatCN\\Documents\\Azure\\DP-203-DataEngineer\\Course - Azure Data Factory Real World Project End to End and Use Cases by Amit Navgire\\ProdCatSubCatFolder"
		},
		"ls_cat_subcat_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "NadikatCN"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer_autoResolve_IR')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer_autoResolve_IR_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/datalakestorage_stage_lined_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('datalakestorage_stage_lined_service_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('datalakestorage_stage_lined_service_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/self-hosted-integration-runtime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataSet_cfg_datalake_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalakestorage_stage_lined_service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string",
						"defaultValue": "transaction.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": "stage",
						"fileSystem": "ckcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "transaction_id",
						"type": "String"
					},
					{
						"name": "cust_id",
						"type": "String"
					},
					{
						"name": "tran_date",
						"type": "String"
					},
					{
						"name": "prod_subcat_code",
						"type": "String"
					},
					{
						"name": "prod_cat_code",
						"type": "String"
					},
					{
						"name": "Qty",
						"type": "String"
					},
					{
						"name": "Rate",
						"type": "String"
					},
					{
						"name": "Tax",
						"type": "String"
					},
					{
						"name": "total_amt",
						"type": "String"
					},
					{
						"name": "Store_type",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalakestorage_stage_lined_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer_source_cfg_autoresolveIR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer_autoResolve_IR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "source",
						"type": "nvarchar"
					},
					{
						"name": "source_table",
						"type": "varchar"
					},
					{
						"name": "dest_table",
						"type": "varchar"
					},
					{
						"name": "source_cols_for_staging",
						"type": "varchar"
					},
					{
						"name": "watermark_col",
						"type": "varchar"
					},
					{
						"name": "watermark_val",
						"type": "varchar"
					},
					{
						"name": "enabled",
						"type": "bit"
					},
					{
						"name": "load_type",
						"type": "varchar"
					},
					{
						"name": "status",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "source",
					"table": "cfg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_autoResolve_IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_serv_on_vm_linked_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('sql_serv_on_vm_linked_service_connectionString')]"
				},
				"connectVia": {
					"referenceName": "self-hosted-integration-runtime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/self-hosted-integration-runtime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_cat_subcat')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('ls_cat_subcat_properties_typeProperties_host')]",
					"userId": "[parameters('ls_cat_subcat_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_cat_subcat_password')]"
					}
				},
				"connectVia": {
					"referenceName": "self-hosted-integration-runtime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/self-hosted-integration-runtime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_dimstore')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer_autoResolve_IR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "store_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "store_type",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "stage",
					"table": "dim_store"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_autoResolve_IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_dimcustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer_autoResolve_IR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "customer_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "DOB",
						"type": "varchar"
					},
					{
						"name": "city_code",
						"type": "varchar"
					},
					{
						"name": "gender",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "stage",
					"table": "dim_customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_autoResolve_IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_dimprodcatsubcat')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer_autoResolve_IR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "prod_cat_subcat_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "product_cat_code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "product_category",
						"type": "varchar"
					},
					{
						"name": "product_subcat_code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "product_subcategory",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "stage",
					"table": "dim_product_cat_subcat"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_autoResolve_IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_dimdate')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer_autoResolve_IR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "DateKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "FullDateUK",
						"type": "char"
					},
					{
						"name": "FullDateUSA",
						"type": "char"
					},
					{
						"name": "DayOfMonth",
						"type": "varchar"
					},
					{
						"name": "DaySuffix",
						"type": "varchar"
					},
					{
						"name": "DayName",
						"type": "varchar"
					},
					{
						"name": "DayOfWeekUSA",
						"type": "char"
					},
					{
						"name": "DayOfWeekUK",
						"type": "char"
					},
					{
						"name": "DayOfWeekInMonth",
						"type": "varchar"
					},
					{
						"name": "DayOfWeekInYear",
						"type": "varchar"
					},
					{
						"name": "DayOfQuarter",
						"type": "varchar"
					},
					{
						"name": "DayOfYear",
						"type": "varchar"
					},
					{
						"name": "WeekOfMonth",
						"type": "varchar"
					},
					{
						"name": "WeekOfQuarter",
						"type": "varchar"
					},
					{
						"name": "WeekOfYear",
						"type": "varchar"
					},
					{
						"name": "Month",
						"type": "varchar"
					},
					{
						"name": "MonthName",
						"type": "varchar"
					},
					{
						"name": "MonthOfQuarter",
						"type": "varchar"
					},
					{
						"name": "Quarter",
						"type": "char"
					},
					{
						"name": "QuarterName",
						"type": "varchar"
					},
					{
						"name": "Year",
						"type": "char"
					},
					{
						"name": "YearName",
						"type": "char"
					},
					{
						"name": "MonthYear",
						"type": "char"
					},
					{
						"name": "MMYYYY",
						"type": "char"
					},
					{
						"name": "FirstDayOfMonth",
						"type": "date"
					},
					{
						"name": "LastDayOfMonth",
						"type": "date"
					},
					{
						"name": "FirstDayOfQuarter",
						"type": "date"
					},
					{
						"name": "LastDayOfQuarter",
						"type": "date"
					},
					{
						"name": "FirstDayOfYear",
						"type": "date"
					},
					{
						"name": "LastDayOfYear",
						"type": "date"
					},
					{
						"name": "IsHolidayUSA",
						"type": "bit"
					},
					{
						"name": "IsWeekday",
						"type": "bit"
					},
					{
						"name": "HolidayUSA",
						"type": "varchar"
					},
					{
						"name": "IsHolidayUK",
						"type": "bit"
					},
					{
						"name": "HolidayUK",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "stage",
					"table": "DimDate"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_autoResolve_IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_facttable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer_autoResolve_IR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Fact_Tran_Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Prod_Cat_SubCat_Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Store_Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tran_date",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "rate",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tax",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_amount",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "stage",
					"table": "Fact_Transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_autoResolve_IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_cfg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sql_serv_on_vm_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "source",
						"type": "nvarchar"
					},
					{
						"name": "source_table",
						"type": "varchar"
					},
					{
						"name": "dest_table",
						"type": "varchar"
					},
					{
						"name": "source_cols_for_staging",
						"type": "varchar"
					},
					{
						"name": "watermark_col",
						"type": "varchar"
					},
					{
						"name": "watermark_val",
						"type": "varchar"
					},
					{
						"name": "enabled",
						"type": "bit"
					},
					{
						"name": "load_type",
						"type": "varchar"
					},
					{
						"name": "status",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "source",
					"table": "cfg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sql_serv_on_vm_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/update_watermark_value')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DataSet_cfg_datalake_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SqlServer_source_cfg_autoresolveIR",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "aggregate1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "alterRow1"
						}
					],
					"scriptLines": [
						"parameters{",
						"     file_name as string,",
						"     watermark_field as string,",
						"     source_data_date_format as string",
						"}",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 aggregate(max_date = iif(toString($file_name) == 'customer.csv',\r",
						"    max(toTimestamp(toString(byName($watermark_field)), 'dd-MM-yyyy HH:mm')),\r",
						"    max(toTimestamp(byName($watermark_field), 'dd-MM-yyyy'))\r",
						")) ~> aggregate1",
						"aggregate1 derive(table_name = $file_name) ~> derivedColumn1",
						"derivedColumn1 alterRow(updateIf(isNull(max_date)==false())) ~> alterRow1",
						"alterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          source as string,",
						"          source_table as string,",
						"          dest_table as string,",
						"          source_cols_for_staging as string,",
						"          watermark_col as string,",
						"          watermark_val as string,",
						"          enabled as boolean,",
						"          load_type as string,",
						"          status as string",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:true,",
						"     upsertable:false,",
						"     keys:['dest_table'],",
						"     skipKeyWrites:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          dest_table = table_name,",
						"          watermark_val = max_date",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DataSet_cfg_datalake_csv')]",
				"[concat(variables('factoryId'), '/datasets/SqlServer_source_cfg_autoresolveIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cat_subcat')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_cat_subcat",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"csv_filename": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().csv_filename",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_cat_subcat')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sql_serv_on_vm_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "customer_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "DOB",
						"type": "varchar"
					},
					{
						"name": "city_code",
						"type": "varchar"
					},
					{
						"name": "gender",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "stage",
					"table": "dim_customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sql_serv_on_vm_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stage_prod_cat_subcat')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sql_serv_on_vm_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "prod_cat_subcat_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "product_cat_code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "product_category",
						"type": "varchar"
					},
					{
						"name": "product_subcat_code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "product_subcategory",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "stage",
					"table": "dim_product_cat_subcat"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sql_serv_on_vm_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataFlow_LoadDimStore')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DataSet_cfg_datalake_csv",
								"type": "DatasetReference"
							},
							"name": "DataFromTransactionCSVFile"
						},
						{
							"dataset": {
								"referenceName": "ds_dimstore",
								"type": "DatasetReference"
							},
							"name": "SourceDimStore"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_dimstore",
								"type": "DatasetReference"
							},
							"name": "InsertIntoDimStore"
						}
					],
					"transformations": [
						{
							"name": "GroupByStoreType"
						},
						{
							"name": "GetStoresNotInDimStore"
						}
					],
					"scriptLines": [
						"source(output(",
						"          transaction_id as string,",
						"          cust_id as string,",
						"          tran_date as string,",
						"          prod_subcat_code as string,",
						"          prod_cat_code as string,",
						"          Qty as string,",
						"          Rate as string,",
						"          Tax as string,",
						"          total_amt as string,",
						"          Store_type as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> DataFromTransactionCSVFile",
						"source(output(",
						"          store_key as integer,",
						"          store_type as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourceDimStore",
						"DataFromTransactionCSVFile aggregate(groupBy(Store_type),",
						"     count = count(transaction_id)) ~> GroupByStoreType",
						"GroupByStoreType, SourceDimStore exists(GroupByStoreType@Store_type == SourceDimStore@store_type,",
						"     negate:true,",
						"     broadcast: 'auto')~> GetStoresNotInDimStore",
						"GetStoresNotInDimStore sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          store_key as integer,",
						"          store_type as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     preSQLs:['\\ndelete from [stage].[dim_store];'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          store_type = Store_type",
						"     )) ~> InsertIntoDimStore"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DataSet_cfg_datalake_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_dimstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ActivitiesInDataFlowToLoadFactTable')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_dimcustomer",
								"type": "DatasetReference"
							},
							"name": "DimCustomer"
						},
						{
							"dataset": {
								"referenceName": "ds_dimstore",
								"type": "DatasetReference"
							},
							"name": "DimStore"
						},
						{
							"dataset": {
								"referenceName": "ds_dimprodcatsubcat",
								"type": "DatasetReference"
							},
							"name": "DimProdCatSubCat"
						},
						{
							"dataset": {
								"referenceName": "ds_dimdate",
								"type": "DatasetReference"
							},
							"name": "DimDate"
						},
						{
							"dataset": {
								"referenceName": "DataSet_cfg_datalake_csv",
								"type": "DatasetReference"
							},
							"name": "StageTransaction"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_facttable",
								"type": "DatasetReference"
							},
							"name": "SinkFactTable"
						}
					],
					"transformations": [
						{
							"name": "JoinDimCustomer"
						},
						{
							"name": "JoinDimProdCatSubCat"
						},
						{
							"name": "JoinDimDate"
						},
						{
							"name": "JoinDimStore"
						},
						{
							"name": "DerivedColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          customer_key as integer,",
						"          customer_id as integer,",
						"          customer_name as string,",
						"          DOB as string,",
						"          city_code as string,",
						"          gender as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DimCustomer",
						"source(output(",
						"          store_key as integer,",
						"          store_type as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DimStore",
						"source(output(",
						"          prod_cat_subcat_key as integer,",
						"          product_cat_code as integer,",
						"          product_category as string,",
						"          product_subcat_code as integer,",
						"          product_subcategory as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DimProdCatSubCat",
						"source(output(",
						"          DateKey as integer,",
						"          Date as date,",
						"          FullDateUK as string,",
						"          FullDateUSA as string,",
						"          DayOfMonth as string,",
						"          DaySuffix as string,",
						"          DayName as string,",
						"          DayOfWeekUSA as string,",
						"          DayOfWeekUK as string,",
						"          DayOfWeekInMonth as string,",
						"          DayOfWeekInYear as string,",
						"          DayOfQuarter as string,",
						"          DayOfYear as string,",
						"          WeekOfMonth as string,",
						"          WeekOfQuarter as string,",
						"          WeekOfYear as string,",
						"          Month as string,",
						"          MonthName as string,",
						"          MonthOfQuarter as string,",
						"          Quarter as string,",
						"          QuarterName as string,",
						"          Year as string,",
						"          YearName as string,",
						"          MonthYear as string,",
						"          MMYYYY as string,",
						"          FirstDayOfMonth as date,",
						"          LastDayOfMonth as date,",
						"          FirstDayOfQuarter as date,",
						"          LastDayOfQuarter as date,",
						"          FirstDayOfYear as date,",
						"          LastDayOfYear as date,",
						"          IsHolidayUSA as boolean,",
						"          IsWeekday as boolean,",
						"          HolidayUSA as string,",
						"          IsHolidayUK as boolean,",
						"          HolidayUK as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DimDate",
						"source(output(",
						"          transaction_id as string,",
						"          cust_id as string,",
						"          tran_date as string,",
						"          prod_subcat_code as string,",
						"          prod_cat_code as string,",
						"          Qty as string,",
						"          Rate as string,",
						"          Tax as string,",
						"          total_amt as string,",
						"          Store_type as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> StageTransaction",
						"StageTransaction, DimCustomer join(toInteger(cust_id) == customer_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinDimCustomer",
						"JoinDimCustomer, DimProdCatSubCat join(toInteger(prod_cat_code) == product_cat_code",
						"     && toInteger(prod_subcat_code) == product_subcat_code,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinDimProdCatSubCat",
						"JoinDimProdCatSubCat, DimDate join(toDate(tran_date, 'dd-MM-yyyy') == Date,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinDimDate",
						"JoinDimDate, DimStore join(StageTransaction@Store_type == DimStore@store_type,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinDimStore",
						"JoinDimStore derive(qty_int = toInteger(Qty),",
						"          rate_float = toFloat(Rate),",
						"          tax_float = toFloat(Tax),",
						"          total_amt_float = toFloat(total_amt)) ~> DerivedColumns",
						"DerivedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Fact_Tran_Key as integer,",
						"          customer_key as integer,",
						"          Prod_Cat_SubCat_Key as integer,",
						"          Store_Key as integer,",
						"          tran_date as integer,",
						"          Quantity as integer,",
						"          rate as double,",
						"          tax as double,",
						"          total_amount as double",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          customer_key,",
						"          Prod_Cat_SubCat_Key = prod_cat_subcat_key,",
						"          Store_Key = store_key,",
						"          tran_date = DateKey,",
						"          Quantity = qty_int,",
						"          rate = rate_float,",
						"          tax = tax_float,",
						"          total_amount = total_amt_float",
						"     )) ~> SinkFactTable"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_dimcustomer')]",
				"[concat(variables('factoryId'), '/datasets/ds_dimstore')]",
				"[concat(variables('factoryId'), '/datasets/ds_dimprodcatsubcat')]",
				"[concat(variables('factoryId'), '/datasets/ds_dimdate')]",
				"[concat(variables('factoryId'), '/datasets/DataSet_cfg_datalake_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_facttable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl-load-data-into-datalake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "move data from various source into azure data lake gen 2 - use incremental load.",
				"activities": [
					{
						"name": "get-cfg-records",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "source_cfg",
								"value": "source.cfg table"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from source.cfg where enabled = 1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dataset_cfg",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "get_sqldb_rows",
						"description": "get only the sqldb table type records",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "get-cfg-records",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get-cfg-records').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().source, 'SQLDB')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "get_file_rows",
						"description": "get only the file type records",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "get-cfg-records",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get-cfg-records').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().source, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "foreach_sqldb_rec",
						"description": "for each sqldb type record",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_sqldb_rows",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_sqldb_rows').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(equals(item().load_type, 'incremental'))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Full data copy",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": "\r\nselect * from @{item().source_table};",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dataset_cfg",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "DataSet_cfg_datalake_csv",
														"type": "DatasetReference",
														"parameters": {
															"filename": {
																"value": "@{item().dest_table}",
																"type": "Expression"
															}
														}
													}
												]
											}
										],
										"ifTrueActivities": [
											{
												"name": "copy_sqldb_type_data",
												"description": "copy sqldb type data from source i.e. sql server to sink i.e. data lake gen 2",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "select * from @{item().source_table} where convert(datetime, @{item().watermark_col}, 105) > convert(datetime, '@{item().watermark_val}')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dataset_cfg",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "DataSet_cfg_datalake_csv",
														"type": "DatasetReference",
														"parameters": {
															"filename": "@{item().dest_table}"
														}
													}
												]
											},
											{
												"name": "dataflow_update_watermark_val",
												"type": "ExecuteDataFlow",
												"dependsOn": [
													{
														"activity": "copy_sqldb_type_data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "update_watermark_value",
														"type": "DataFlowReference",
														"parameters": {
															"file_name": {
																"value": "'@{item().dest_table}'",
																"type": "Expression"
															},
															"watermark_field": {
																"value": "'@{item().watermark_col}'",
																"type": "Expression"
															},
															"source_data_date_format": {
																"value": "'@{item().source_data_date_format}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"source1": {
																"filename": {
																	"value": "@{item().dest_table}",
																	"type": "Expression"
																}
															},
															"sink1": {}
														}
													},
													"staging": {},
													"compute": {
														"coreCount": 8,
														"computeType": "General"
													},
													"traceLevel": "Fine"
												}
											}
										]
									}
								},
								{
									"name": "update status",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "If Condition1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "\nupdate source.cfg set status = 'success' where dest_table = '@{item().dest_table}';\nselect 1;\n",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "dataset_cfg",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							]
						}
					},
					{
						"name": "Loop to copy files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_file_rows",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_file_rows').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy csv file from local machine to ADLS Gen 2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "FileServerReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_cat_subcat",
											"type": "DatasetReference",
											"parameters": {
												"csv_filename": {
													"value": "@{item().source_table}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DataSet_cfg_datalake_csv",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@{item().dest_table}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "update cft status col - csv input",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Copy csv file from local machine to ADLS Gen 2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "\nupdate source.cfg set status = 'success' where dest_table = '@{item().dest_table}';\n\nselect 1;",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "dataset_cfg",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-08-30T02:00:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_cfg')]",
				"[concat(variables('factoryId'), '/datasets/ds_cat_subcat')]",
				"[concat(variables('factoryId'), '/datasets/DataSet_cfg_datalake_csv')]",
				"[concat(variables('factoryId'), '/dataflows/update_watermark_value')]"
			]
		}
	]
}